html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	background: rgb(16 4 88);
	color: rgb(42 100 235);
}

.title {
	font-size: 80px;
	font-family: 'Pacifico', cursive;
	text-align: center;
}

.input {
	width: 500px;
	height: 50px;
	margin-top: 25px;
	font-size: 24px;
	color: rgb(16 4 88); 
	background: rgb(42 100 235);
	padding-left: 60px;
	font-family: sans-serif;
	border: none;
	outline: none;
}

.input::placeholder {
	color: rgb(16 4 88); 
}